SMTP_USER="ganium.team@gmail.com"
SMTP_PASS="ngen busl fyxo jchn"

# Mongo
MONGO_URI="mongodb://localhost:27017"
MONGO_DATABASE="ganium"

# Redis
REDIS_HOST="localhost"
REDIS_PORT="6379"
REDIS_PASSWORD=""
REDIS_DB="0"
SCAN_CACHE_TTL_SECONDS="900"
USER_CACHE_TTL_SECONDS="30"

# JWT
JWT_SECRET="SentinetAI"

# AI / Gemini
GEMINI_API_KEY="AIzaSyDtw0w4fYRCNirmf6bn_C560fAP8bVuf7E"
GEMINI_MODEL="gemini-3.7-flash"

# Paystack
PAYSTACK_PUBLIC_KEY="pk_test_8ec03011d0158c6c15a5152e573ef252175a25e1"
PAYSTACK_SECRET_KEY="sk_test_57539cd242ddc483f99aecd429c9347c50d5e039"
PAYSTACK_CALLBACK_URL="http://localhost:8008/api/paystack/callback"
PAYSTACK_WEBHOOK_SECRET="optional-if-you-want-a-separate-secret"
APP_DEEP_LINK_URL="ganium://payment/result"

# Optional frontend redirects
PAYSTACK_SUCCESS_URL="ganium://payment/result?status=success"
PAYSTACK_CANCEL_URL="ganium://payment/result?status=cancelled"

# Solana token payment config
SJLY_MINT_ADDRESS=""
USDT_MINT_ADDRESS=""
USDC_MINT_ADDRESS=""
SJLY_TREASURY_WALLET=""
GANIUM_CRYPTO_WALLET=""
